@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Fontdiner Swanky', cursive;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

.header {
    background-image: url(./images/1.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-container {
    margin-bottom: 20px;
}



.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 400;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-family: 400;
}

.menu .navbar ul li a {
    color: #FFFDFC;
    text-transform: uppercase;

}

.menu .navbar ul li a:hover {
    color: blueviolet;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #FFFDFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;

}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #ebad8d;
}

.campus {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.campus-content {
    text-align: center;
}

.campus-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.campus-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.gryffindor {
    padding: 0 25px;
}

.gryffindor img {
    width: 200px;
}

.gryffindor h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.ravenclaw {
    padding: 0 25px;
}

.ravenclaw img {
    width: 200px;
}

.ravenclaw h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.slytherin {
    padding: 0 25px;
}

.slytherin img {
    width: 200px;
}

.slytherin h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.hufflepuff {
    padding: 0 25px;
}

.hufflepuff img {
    width: 200px;
}

.hufflepuff h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.profesores {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(images/19.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.profesores-content {
    text-align: center;
}

.profesores-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.profesores-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.profesores-content a .btn-1 {
    text-transform: uppercase;
}

.profesores-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.pociones {
    padding: 0 100px;
}

.pociones img {
    width: 150px;
    margin-bottom: 150px;
}

.pociones h3 {
    color: #EACCB3;
    font-size: 18px;
}

.defensa {
    padding: 0 100px;
}

.defensa img {
    width: 150px;
    margin-bottom: 50px;
}

.defensa h3 {
    color: #EACCB3;
    font-size: 18px;
}



.transformaciones {
    padding: 0 100px;
}

.transformaciones img {
    width: 250 px;
    margin-bottom: 150 px;
}

.transformaciones h3 {
    color: #EACCB3;
    font-size: 18px;
}

.tituloadmisiones {
    background-color: #c5c5c5;
    text-align: center;
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.admisiones {
    display: flex;
}

.admision-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.admision-2 {
    background-image: url(/images/6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.admision-3 {
    background-image: url(/images/17.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.footer {
    padding: 100px 0;
    background-color: #000000;
    background-position: center;

}

.footer-content {
    display: flex;
    justify-content: center;

}

.link h3 {
    font-size: 50px;
    color: #E1E2E6;
    margin-bottom: 15px;
    text-align: center;

}

.link a {
    font-size: 25px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #323337;
        display: none;

    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;

    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .campus {
        padding: 30px;
    }

    .campus-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .campus-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .campus img {
        display: none;
    }

    .profesores {
        padding: 30px;
    }

    .profesores-content p {
        padding: 0;
    }

    .profesores-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .pociones {
        margin-bottom: 25px;
    }

    .defensa {
        margin-bottom: 25px;
    }

    .transformaciones {
        margin-bottom: 25px;
    }

    .admisiones {
        flex-direction: column;
    }

    .admision-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .admision-2,
    .admision-2 {
        display: none;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }



}